@use "../utilities/" as *;

.faq {
  padding: rem(100) 0 rem(90) 0;
}

.faq-container {
  .section__title {
    font-weight: 700;
    font-size: rem(36);
    line-height: rem(28);
    text-align: center;
  }
}

.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: rem(20);
  margin-top: rem(80);
}

.question__title {
  font-size: rem(20);
  line-height: rem(28);
  margin-bottom: rem(10);
  .question__title--orange {
    color: var(--clr-primary);
  }
}

.question__answer {
  max-width: rem(510);
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(28);
}
