@use "../utilities/" as *;

:root {
  --font-title: "Quicksand", sans-serif;
  --font-body: "Roboto", sans-serif;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
